In [69]:
import pandas as pd

df = pd.read_csv("movies_with_feats.csv", index_col=0)
df[df.columns[:20]].head()

,Processed Title,Success,FK_read_level_char_1,FK_read_level_char_2,FK_read_level_char_3,FK_read_level_char_4,FK_read_level_char_5,n_stop_words_char_1,n_stop_words_char_2,n_stop_words_char_3,n_stop_words_char_4,n_stop_words_char_5,n_curse_words_char_1,n_curse_words_char_2,n_curse_words_char_3,n_curse_words_char_4,n_curse_words_char_5,n_mentions_others_char_1,n_mentions_others_char_2,n_mentions_others_char_3
Avatar,Avatar,1,2,2,2,3,3,139,124,84,101,94,16,9,1,5,6,35,26,10
The Dark Knight Rises,"Dark-Knight-Rises,-The",1,2,2,3,2,2,130,117,121,107,121,0,2,0,0,0,34,36,5
The Avengers,"Avengers,-The",1,2,3,3,4,3,141,135,97,96,68,0,0,1,0,0,36,20,18
Pirates of the Caribbean: Dead Man's Chest,Pirates-of-the-Caribbean-Dead-Man's-Chest,1,2,1,1,1,4,132,114,98,103,86,0,0,0,0,0,20,8,2
Men in Black 3,Men-in-Black-3,1,2,3,2,3,4,196,158,77,79,67,7,4,0,0,2,180,88,17

In [70]:
df[df.columns[20:]].head()

,n_mentions_others_char_4,n_mentions_others_char_5,main_char_rel_diag_length,stdvs_unique_words_above_mean
Avatar,2,1,39.537232,-0.090538
The Dark Knight Rises,26,19,23.705825,0.255438
The Avengers,11,2,30.146047,-0.118151
Pirates of the Caribbean: Dead Man's Chest,1,2,36.743621,-0.481995
Men in Black 3,16,11,57.328163,0.742729

In [71]:
df["FK_read_level_mean_char"] = (df["FK_read_level_char_1"] + df["FK_read_level_char_2"] + 
                                 df["FK_read_level_char_3"] + df["FK_read_level_char_4"] + 
                                 df["FK_read_level_char_5"])/5
del df["FK_read_level_char_1"], df["FK_read_level_char_2"], df["FK_read_level_char_3"]
del df["FK_read_level_char_4"], df["FK_read_level_char_5"]

In [72]:
def get_stdvs_above_mean(feat_general_name):
    n_all = df[feat_general_name + "1"]
    for i in range(2, 6):
        n_all += df[feat_general_name + str(i)]
        del df[feat_general_name + str(i)]
    n_all_mean = n_all.mean()
    n_all_std = n_all.std()
    df["stdvs_" + feat_general_name[:-5] + "above_mean"] = (n_all - n_all_mean)/n_all_std
    del df[feat_general_name + "1"]

In [73]:
get_stdvs_above_mean("n_stop_words_char_")
get_stdvs_above_mean("n_curse_words_char_")
get_stdvs_above_mean("n_mentions_others_char_")

In [74]:
df.head()

,Processed Title,Success,main_char_rel_diag_length,stdvs_unique_words_above_mean,FK_read_level_mean_char,stdvs_n_stop_words_above_mean,stdvs_n_curse_words_above_mean,stdvs_n_mentions_others_above_mean
Avatar,Avatar,1,39.537232,-0.090538,2.4,0.063141,0.106202,-0.541956
The Dark Knight Rises,"Dark-Knight-Rises,-The",1,23.705825,0.255438,2.2,0.789323,-0.686754,-0.176310
The Avengers,"Avengers,-The",1,30.146047,-0.118151,3.0,-0.004098,-0.709410,-0.438622
Pirates of the Caribbean: Dead Man's Chest,Pirates-of-the-Caribbean-Dead-Man's-Chest,1,36.743621,-0.481995,1.8,-0.057889,-0.732066,-0.867858
Men in Black 3,Men-in-Black-3,1,57.328163,0.742729,2.8,0.533814,-0.437539,1.349863